


/* h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: auto;
}
.two {
  color: black;
  opacity: 1;
  animation: fade 4s infinite alternate;
  font-size: 80px;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
.one {
  opacity: 1;
  animation: fade 4s infinite alternate;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
.three {
  opacity: 1;
  animation: fade 4s infinite alternate;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
.welcome {
  font: italic bold 2em Bodoni, serif;
  color: #555;
  opacity: 1;
  animation: fade 3s linear infinite;
  /* animation: move 8s linear infinite; */
/* } */

/* .wave{
  animation: move 8s linear infinite;
}
@keyframes move{
  0% {transform:translate(50);}
  50% {transform:translate(1000px);}
  /* 100% {opacity: 0;} how to make responsive*/
/* } */
/* .gName {
  background: #8f1805;
  height: 90px;
} */ */ */

*, *::after, *::before {
  box-sizing:border-box;
}
body{
  margin:0
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items:center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.board.x .cell:hover {

}

.cell.x::before,
.cell.x::after,
.board.x .cell:hover::before,
.board.x .cell:hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  background-color: black;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: black;
}
.cell.circle::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
}
.cell.circle::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: white;
}
